name: Index PM Sites

on:
  workflow_dispatch:
  schedule:
  - cron: '5 4 * * 1'

jobs:

  index:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.2.2
    - uses: cachix/install-nix-action@v31.4.0
    - uses: DeterminateSystems/magic-nix-cache-action@v10
    - uses: nicknovitski/nix-develop@v1.2.1
    - uses: freckle/stack-action@v5.7.1
      with:
        test: false
        install-stack: false
        upgrade-stack: false
        stack-build-arguments: "--fast"
    - name: Setup Xvfb
      run: Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &
    - uses: nanasess/setup-chromedriver@v2.3.0
    - name: Index Sites
      run: |
        export DISPLAY=:99
        /usr/local/bin/chromedriver --url-base=/wd/hub --port=4444 &
        sleep 5
        stack run
      env:
        API_KEY: ${{ secrets.API_KEY }}
        APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
